

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex">
            <a class="navbar-brand" routerLink="inicio" href="#">
                <img src="./assets/img/logo.png" height="50" width="50" alt="logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="
            navbar-nav
            me-auto
            mb-2 mb-lg-0
            position-absolute
            top-1
            end-0
            pe-5
          ">
                    <li class="nav-item pe-5 ">
                        <a class="nav-link active" routerLink="inicio" routerLinkActive="active" href="#header"><i class="fas fa-home"></i>
                            Home</a>
                    </li>
                    <li class="nav-item pe-5">
                        <a class="nav-link" routerLink="servicios" routerLinkActive="active" href="#servicios"><i class="fas fa-list-ul"></i>
                            Servicios</a>
                    </li>
                    <li class="nav-item pe-5">
                        <a class="nav-link" routerLink="galeria" routerLinkActive="active" href="#portafolio"><i class="fas fa-images"></i>
                            Galeria</a>
                    </li>
                    <li class="nav-item pe-5">
                        <a class="nav-link" routerLink="contacto" routerLinkActive="active" href="#contacto"><i class="far fa-paper-plane"></i>
                            Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>