<section class="container section-cards" id="servicios">
    <h1 class="text-center">Servicios</h1>
     <div class="album py-5 bg-light">

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="./assets/img/card-asesoramiento.png" alt="">

                        <div class="card-body">
                            <h2 class="text-center">Asesoramiento</h2>
                            <p class="card-text">
                                Te asesoramos sobre cuales serian tus puntos fuertes a destacar como empresa para
                                sobresalir en el mercado que estes inmerso, como hacer que tu landing page destaque
                                sobre el resto y atraigas potenciales clientes.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="./assets/img/card servicio diseño.jpg" alt="">

                        <div class="card-body">
                            <h2 class="text-center">Diseño</h2>
                            <p class="card-text">
                                Diseño personalizado respetando siempre los requerimientos del cliente, reclutamos
                                los mejores profesionales en lo que ha diseño web se trata para bridar un servicio
                                de calidad unica. Somos especialistas.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="./assets/img/card mantenimiento.jpg" alt="">
                        <div class="card-body">
                            <h2 class="text-center">Mantenimiento</h2>
                            <p class="card-text">
                                Siempre habra alguna oferta que quieras destacar, alguna promoción nueva, algo
                                genial que se te ocurrio y quieres implementarlo! El mundo de la web es muy dinámico
                                y cambia constantemente. No te quedes atras!..
                        
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>