
<section class="container" id="Galeria">
    <hr class="featurette-divider">
    <h1 class="text-center">Galeria</h1>
    <div class=" container row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Confianza. <span class="text-muted">Nuestro pilar fundamental.</span>
            </h2>
            <p class="lead">Reconocidas marcas alrededor del mundo confian en nuestro trabajo. No es poca cosa que
                nuestros clientes nos recomienden a terceros. La labor con amor y dedicacion se nota a millas.</p>
        </div>
        <div class="col-md-5 aa">
            <img src="./assets/img/img carousel 4.png" class="img-thumbnail img-fluid" width="500" height="500"
                alt="">
        </div>  
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Diseños innovadores. <span class="text-muted">Ultimas tendencias.</span>
            </h2>
            <p class="lead">Nuestro equipo trabaja con los mas novedosos diseños del mercado. Por que
                todo lo que consumimos primero lo captamos con nuestros ojos, y un buen diseño nos ayudara a atraer muchos mas potenciales
                clientes o "Leads".</p>
        </div>
        <div class="col-md-5 order-md-1 aa">
            <img src="./assets/img/img carousel 5.png" class="img-thumbnail img-fluid" width="500" height="500"
                alt="">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Clientes felices. <span class="text-muted">100% satisfechos.</span></h2>
            <p class="lead">Mantenemos un constante feedback para estar al tanto de las necesidades y
                requerimientos. No hay nada mejor para nuestro equipo que ver la felicidad y satisfacion ajena de
                aquellos que decidieron dar un paso adelante confiando en nosotros.</p>
        </div>
        <div class="col-md-5 aa">
            <img src="./assets/img/img carousel 6.png" class="img-thumbnail img-fluid" width="500" height="500"
                alt="">
        </div>
    </div>
    <hr class="featurette-divider">
    
    
</section>