
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="./assets/img/img-hero.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                width="700" height="500" loading="lazy" />
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                ¿Por que necesitas una Landing Page para tu negocio?
            </h1>
            <p class="lead">
                Una landing page es una manera excelente de impulsar tráfico,
                mejorar su SEO y fortalecer su marca.Su principal objetivo es
                convertir a los visitantes de tu sitio web en potenciales clientes
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
                    La quiero!
                </button>

            </div>
        </div>
    </div>
</div>
