<section id="contacto" class="container ">
    <h1 class="text-center mt-4">Contactanos</h1>
    <div class="col-md-6 offset-md-3">
        <div class="mb-3 pt-3">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="First name">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Apellido" aria-label="Last name">
        </div>

        <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="tu-mail@ejemplo.com">
        </div>
        <div class="mb-3">
            <textarea placeholder="Escribe tu mensaje aqui" class="form-control" id="exampleFormControlTextarea1"
                rows="3"></textarea>
        </div>
        <div class="row">
            <div class="col-md-6">

                <input placeholder="Indique su pais de residencia" type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-6">
                <input placeholder="Provincia, cuidad o estado" type="text" class="form-control" id="inputCity">
            </div>
        </div>

        <div class="enviar text-center">
            <button type="submit" class=" btn btn-primary">Enviar</button>
        </div>  
    </div>
</section>